<div class="st">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner my-caption">
            <div class="item active">
                <img src="https://www.sneakerhead.com/skin/frontend/default/sneakerhead2/images/cms/sys-mens-20171221r.jpg">
            </div>

            <div class="item">
                <img src="https://vintage-united.com/files/8460/afbeeldingen/tips-how-to-sell-your-preloved-designer-clothes-online.jpeg">
            </div>

            <div class="item">
                <img src="https://i.ebayimg.com/00/s/MzQxWDk4MA==/z/T~sAAOSwnF9Y68n0/$_57.PNG?set_id=2">
            </div>

            <div class="item">
                <img src="https://www.sneakerhead.com/skin/frontend/default/sneakerhead2/images/cms/sys-mens-20171221r.jpg">
                <div class="carousel-caption">
                    <h3>Sell!!!</h3>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h1>Welcome to our shop <span class="label label-default"></span></h1>
        <h2>Total Users <span class="label label-default">{{stats.users}}</span></h2>
        <h3>Total Products <span class="label label-default">{{stats.products}}</span></h3>
    </div>
</div>
