/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("online.jpg");
    background-repeat: no-repeat;
    background-position: right top;   
    margin-right: 350px;
}